@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
h1 {
  color: #e61e46;
}
input {
  width: 280px;
  height: 30px;
  border: 2px solid #e61e46;
  border-radius: 5px;
}
#btn {
  height: 50px;
  width: 100px;
  background-color: #e61e46;
  color: white;
  border-radius: 4px;
}
.info {
  height: 250px;
  width: 350px;
  font-size: 15px;
}